@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Lato:ital@1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300;1,400;1,500&family=Sono:wght@300;700;800&family=Source+Sans+Pro:wght@200&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
    color: #000;
    margin: 0;
    font-size: 15px;
}

a {
    color: #000;
    text-decoration: none;
}

i {
    cursor: pointer;
}

header {
    padding: 0 10px;
    width: calc(100% - 20px);
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    transform: translateY(-35px);
    font-size: 14px;
    background-color: transparent;
    z-index: 5;
}


header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 160px;
    border-radius: 50%;
    background-color: #cd9a48;
}

header .logo>img {
    z-index: 1;
    width: 120px;
    border: none;
    outline: none;
}

header>ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
}

header>ul>li {
    display: flex;
    align-items: center;
    margin-left: 70px;
}

header>ul>li:nth-child(n+3)>a {
    color: #ffff;
}

header>ul>li>span {
    color: #cd9a48;
    border-bottom: 2px solid #cd9a48;
    width: 30px;
    margin-right: 10px;
}

header>ul>li>p {
    background-color: #cd9a48;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-left: 10px;
}

/* container */
.container {
    width: 100%;
    margin: 0;
}

.layer1 {
    display: grid;
    width: 100%;
    grid-template-columns: 30% auto;
    gap: 5%;
    margin: 0;
    margin-top: -210px;
}

.layer1 .left_layer1 {
    display: flex;
    align-items: center;
}

.layer1 .stt_layer1 {
    display: flex;
    width: 70px;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
}

.layer1 .stt_layer1>i {
    margin: 7px 0;
    color: #cd9a48;
    font-size: 18px;
}

.layer1 .stt_layer1>.iactive {
    color: #000 !important;
}

.layer1 .stt_layer1>span {
    height: 25px;
    margin-bottom: 17px;
    border: 1px solid #cd9a48;
}

.layer1 .stt_layer1>li {
    list-style: none;
    color: rgb(123, 117, 117);
    font-weight: bold;
    font-size: 14px;
    margin-top: 7px;
}

.stt_layer1>.active {
    color: #000 !important;
    font-size: 25px !important;
    margin: 20px 0;
    padding: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 8px 13px 0px #c9c0c0;
    border-radius: 50%;
}

.layer1 .img_layer1 {
    width: 100%;
    height: 100%;
}

.layer1 .img_layer1>img {
    width: 100%;
    z-index: -1;
}

.layer1 .title_layer1 {
    position: absolute;
    padding: 5px;
    display: flex;
    flex-direction: column;
    bottom: 41%;
    left: 18.5%;
}

.title_layer1>span {
    font-weight: bold;
    color: #303030;
}

.title_layer1>b {
    font-size: 40px;
    letter-spacing: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.title_layer1 .gearUp {
    margin-top: 30px;
    display: flex;
    align-items: center;
    color: #cd9a48;
    margin-left: 70px;
}

.title_layer1 .gearUp>span {
    width: 20px;
    margin-right: 10px;
    border-bottom: 2px solid #cd9a48;
}

.title_layer1 .gearUp>i {
    margin-left: 10px;
}

/* layer2 */
.layer2 {
    margin-top: 100px;
    width: 100%;
    height: 450px;
    display: grid;
    grid-template-columns: 70% 30%;
}

.layer2 .img_layer2 {
    background-image: url(./images/layer2.png);
    background-size: 100% 100%;
    position: relative;
}


.layer2 .img_layer2>b {
    position: absolute;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 12px;
    font-weight: 600;
    top: 35%;
    right: 3%;
    color: #f7f7f7;
}

.layer2 .title_layer2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.layer2 .title_layer2 .content_layer2 {
    position: absolute;
    right: 7%;
    display: grid;
    padding: 30px 20px;
    grid-template-columns: 50% 50%;
    width: 650px;
    align-items: center;
    justify-items: end;
    border: 2px solid #cd9a48;
}

.layer2 .title_layer2 .content_layer2>span {
    padding: 10px;
    max-width: 90%;
    color: #a8a8a8;
    line-height: 2.5;
    font-size: 13px;
}

.layer2 .title_layer2 .content_layer2>b {
    color: #f7f7f7;
    margin-top: 10px;
    margin-right: 10px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
}

.layer2 .title_layer2 .content_layer2>i {
    position: absolute;
    border: none;
    background-color: #f7f7f7;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 65%;
    bottom: -20%;
    width: 100px;
}

/* layer3 */
.layer3 {
    background-color: #e5e3e3;
    margin-top: 100px;
    width: 100%;
    height: 550px;
    display: grid;
    align-items: center;
    grid-template-columns: 30% 70%;
}



.layer3 .img_layer3 {
    height: 450px;
    background-image: url(./images/layer3.png);
    background-size: 100% 100%;
    position: relative;
}

.layer3 .img_layer3>b {
    position: absolute;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 12px;
    font-weight: 600;
    top: 35%;
    left: 6%;
    color: #f7f7f7;
}

.layer3 .title_layer3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.layer3 .title_layer3>b {
    color: #8f8f8f;
    font-size: 30px;
    transform: translateY(-125px);
    letter-spacing: 5px;
    text-transform: uppercase;
}

.layer3 .title_layer3 .content_layer3 {
    position: absolute;
    left: 7%;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 680px;
    align-items: center;
    justify-items: end;
    z-index: 2;
    border: 2px solid #cd9a48;
}

.layer3 .title_layer3 .content_layer3>span {
    padding: 25px 30px;
    background-color: #e5e3e3;
    color: #8f8f8f;
    line-height: 2.5;
    font-size: 13px;
}

.layer3 .title_layer3 .content_layer3>b {
    color: #f7f7f7;
    margin-top: 10px;
    margin-right: 10px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
}

.layer3 .title_layer3 .content_layer3>i {
    position: absolute;
    border: none;
    background-color: #e5e3e3;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 65%;
    bottom: -20%;
    width: 100px;
}

/* layer4 */
.layer4 {
    width: 100%;
}

.layer4>h1 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 14px;
    font-size: xxx-large;
}

.layer4>.navy {
    display: flex;
    align-items: center;
    width: 530px;
    margin-left: 49rem;
}

.layer4>.navy>span {
    width: 60px;
    margin-right: 10px;
    border-bottom: 2px solid #000;
}

.layer4>.navy>b {
    text-transform: uppercase;
    padding-left: 5px;
    width: 100%;
    background-color: #cd9a48;
}

.product_layer4 {
    max-width: 95%;
    margin: auto;
}

.product_layer4 .title_product1 {
    font-size: 40px;
    font-weight: bolder;
    color: #8f8f8f;
    display: flex;
    align-items: center;
    padding-left: 70px;
    letter-spacing: 5px;
}

.title_product1>span {
    width: 70px;
    border-bottom: 2px solid #000;
}

.product_layer4 .product1 {
    padding: 0 100px;
    display: grid;
    gap: 3%;
    grid-template-columns: 57% 40%;
}


.product1 .content_product1 .img_products1 {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
}

.product1 .content_product1 .img_products1>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product1 .content_product1 .title_img_products1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_img_products1>.span {
    height: 103px;
    position: absolute;
    border-left: 2px solid #000;
    margin-left: 12.4%;
    transform: translateY(-47px);
}

.title_img_products1>.h2 {
    margin-top: 75px;
    width: 67%;
    height: 25px;
    text-transform: uppercase;
    letter-spacing: 5px;
    background-color: #cd9a48;
    position: relative;
}

.title_img_products1>.h2>b {
    position: absolute;
    width: 100%;
    font-size: x-large;
    text-align: center;
    top: -69%;
}

.title_img_products1>span {
    margin: 10px 0;
    width: 40%;
    font-size: 11px;
    margin-left: 12rem;
    color: #5f5f5f;
}

.title_img_products1>button {
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0;
    font-size: 11px;
    cursor: pointer;
    background-color: transparent;
}

.title_img_products1>button>i {
    margin-left: 10px;
}

.content_product2 {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border: 1px solid blue; */
}

.content_product2>.span {
    border-left: 2px solid #000;
    height: 60px;
}

.content_product2>h2 {
    text-transform: uppercase;
    letter-spacing: 7px;

}

.content_product2>span {
    max-width: 85%;
    font-size: 11px;
    color: #5f5f5f;
}

.content_product2>button {
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 0 30px 0;
    font-size: 11px;
    cursor: pointer;
    background-color: transparent;
}

.content_product2>button>i {
    margin-left: 10px;
}

.content_product2 .logo_product2 {
    position: absolute;
    border-left: 2px solid #000;
    margin-left: 20px;
    padding-left: 10px;
    height: 100px;
    z-index: 2;
    margin-top: 16%;
}

.content_product2 .logo_product2>img {
    filter: opacity(0.5);
    height: 40%;
}

.content_product2 .img_products1 {
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto;
    justify-items: center;
    padding: 15px 0 0 15px;
    background-color: #f7f7f7;
    margin-top: 70px;
    transform: translateX(-120px);
}

.content_product2 .img_products1>img {
    width: 100%;
}


.product2>b {
    font-size: 40px;
    font-weight: bolder;
    color: #8f8f8f;
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
    margin-left: -90px;
}

.product2 .camera_product2 {
    display: grid;
    transform: translateY(-15px);
    padding: 0 140px;
    grid-template-columns: 45% auto;
    gap: 40px;
    height: 30%;
}

.camera_product2>.img_product2 {
    display: grid;
    padding: 0 15px 15px 15px;
    grid-template-columns: auto auto;
    gap: 15px;
    background-color: #f7f7f7;
    z-index: 2;
}

.camera_product2>.img_product2>img {
    width: 100%;
}

.camera_product2>.title_product2 {
    padding-left: 110px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.camera_product2>.title_product2>h2 {
    text-transform: uppercase;
    letter-spacing: 7px;
}

.title_product2>span {
    max-width: 85%;
    font-size: 11px;
    color: #5f5f5f;
}

.title_product2>button {
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 0 30px 0;
    font-size: 11px;
    cursor: pointer;
    background-color: transparent;
}

.title_product2>button>i {
    margin-left: 10px;
}

/*  */

.all_detail_product {
    transform: translateY(-30%);
}

.product2 .stt_detail {
    font-size: 40px;
    font-weight: bolder;
    color: #8f8f8f;
    letter-spacing: 10px;
    display: flex;
    justify-content: end;
    width: 90%;
    margin-left: -15px;
}

.product2 .detail_products {
    display: grid;
    transform: translateY(-3%);
    grid-template-columns: 40% 50%;
}

.product2 .detail_products .voyager {
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail_products .voyager>p {
    font-size: 40px;
    transform: translateX(57%);
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    text-shadow: 0px 10px 12px #999;
    letter-spacing: 10px;
    font-family: 'Roboto', sans-serif;
}

.detail_products .img_detail {
    padding-bottom: 30px;
    position: relative;
}

.detail_products .img_detail .bg_cl {
    position: absolute;
    width: 23.6%;
    height: 130%;
    bottom: -40%;
    right: 9.8%;
    background-color: #ded5c86b;
}

.detail_products .img_detail .bg_cl .GOO {
    display: flex;
    justify-content: flex-end;
    background-color: #ded5c8;
    overflow: hidden;
    height: 35.7%;
    width: 100%;
    bottom: 0;
    position: absolute;
}

.bg_cl .GOO::before {
    content: '';
    width: 100%;
    height: 30px;
    z-index: 2;
    background-color: #ded5c8;
}

.detail_products .img_detail .bg_cl .GOO>p {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
    color: #999;
    letter-spacing: 10px;
    position: absolute;
    right: 5%;
    bottom: 18%;
    font-family: 'Roboto', sans-serif;
}

.detail_products .img_detail>img {
    margin-left: 20px;
    width: 90%;
    height: 100%;
}

.product2 .list_detail_product {
    display: grid;
    grid-template-columns: repeat(7, calc(100%/7 - 45px));
    gap: 15px;
}

.list_detail_product .img_details {
    position: relative;
    cursor: pointer;
}

.list_detail_product .img_details:hover .add_product {
    visibility: inherit;
}

.product2 .list_detail_product .img_details>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list_detail_product .img_details .add_product {
    position: absolute;
    background-color: #0000008c;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.list_detail_product .img_details .no_none {
    visibility: inherit;
}

.add_product .add_plus {
    border: 2px solid #ffff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.add_product .add_plus>i {
    color: #ffff;
    font-size: 17px;
}

/* footer */
footer {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 35% 20% 25%;
    background-color: #dcdcdc;
}

.footer_logo {
    display: grid;
}

.footer_logo>img {
    width: 40%;
    place-self: center;
}

.footer_menu {
    display: grid;
    grid-template-columns: repeat(5, calc(100%/5 - 20px));
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer_menu>li {
    list-style: none;
    text-align: center;
    text-transform: uppercase;
}

.footer_menu>.active_f a {
    color: #000;
}

.footer_menu>li>a {
    color: #999;
    font-size: 14px;
    font-weight: 600;
}

.footer_menu>li:nth-child(1) {
    display: flex;
    align-items: center;
}

.footer_menu>li>span {
    border-bottom: 2px solid #cd9a48;
    width: 30px;
    margin-right: 10px;
}

.footer_menu>li>p {
    background-color: #cd9a48;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-left: 10px;
}

.footer_if {
    padding-top: 50px;
}

.footer_if>li {
    color: #999;
    list-style: none;
    font-size: 14px;
}

.footer_if>li:nth-child(1) {
    color: #000;
    font-weight: 600;
}

.footer_email {
    display: flex;
    flex-direction: column;
    padding: 40px 50px 5px 50px;
}

.footer_email>b {
    text-transform: uppercase;
}

.footer_email>span {
    font-size: 12px;
    margin: 10px 0;
    color: rgb(66, 66, 66);
}

.footer_email>.input_footer {
    max-width: 250px;
    display: flex;
    align-items: center;
}

.footer_email>.input_footer>input {
    outline: none;
    border: none;
    padding: 5px 15px;
}

.footer_email>.input_footer>i {
    color: #ffff;
    background-color: rgb(28, 28, 28);
    width: 45px;
    margin-left: 5px;
    font-size: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.footer_contact {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 40% 60%;
    width: 700px;
    margin-left: 90px;
}

.footer_contact>span {
    color: #999;
    display: flex;
    align-items: center;
}

.footer_contact .contact_public {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto auto;
}

.contact_public>li {
    color: #999;
    list-style: none;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.contact_public>li:nth-child(2) a {
    font-weight: 600;
    display: flex;
}

.contact_public>li>span {
    border-bottom: 2px solid #cd9a48;
    width: 30px;
    margin-right: 10px;
}

.contact_public>li>p {
    background-color: #cd9a48;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-left: 10px;
}